<html>
    <head>
      {% if title %}
      <title>{{ title }} - MFDS</title>
      {% else %}
      <title>Welcome to MFDS</title>
      {% endif %}
    </head>
    <body>
        <div>
		MFDS: 
		<a href="/">Home</a>|
		<a href="/coss/cache_replacement_algo">COSS</a>|
		<a href="/dsad">DSAD</a> | <a href="/dsad/tree">Tree Construction</a>|
		<a href="/parenthesis">Solve Parenthesis Question Online</a>|
		<a href="/parenthesis_py">Solve Parenthesis Question Python</a>
		</div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
